.container {
    width: 100%
}

.container .navbar-menu {
    display: flex;
    width: 100%;
    height: 80px;
}

.container .navbar-menu .logo {
    padding-left: 15px;
    width: 80px;
    font-size: 1.2rem;
}

.container .navbar-menu .logo .brand {
    width: 70px;
}

.container .navbar-menu .logo .brand p {
    margin: 0;
    padding: 0;
}

.container .navbar-menu .search {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .navbar-menu .search button {
    width: 110px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.container .navbar-menu .search button svg {
    width: 14px;
}

.container .navbar-menu .search button b {
    color: gray;
}

.container .search-container {

    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 80px;
    background-color: #f1f1f1;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
}

.container .search-container form {
    width: 50%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;

}

.container .search-container.show {
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .search-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
    align-items: end;
    padding-bottom: 30px;
}

.container .search-container form input[type="text"] {
    padding: 10px;
    width: 50%;
    border: none;
    outline: none;
    margin-top: 10px;
}

.container .search-container form button {
    align-self: start;
    width: 15%;
    padding: 8.5px;
    margin-top: 10px;
    border: none;
    background-color: #81dafd;
    color: rgb(1, 107, 160);
    cursor: pointer;
    font-size: 16px;
}

.container .search-container form button:hover {
    color: #000;
}

.container .navbar-menu .toggle {
    display: none;
    width: 58px;
    padding-left: 10px;


}

.container .navbar-menu .toggle .lines {
    border: none;
    cursor: pointer;
    background-color: azure;
    border-radius: 5px;
    width: 40px;
    height: 42.5px;
    margin-top: 20px;
    padding: 0.05px 3px 6px 3px;
}

.container .navbar-menu .toggle .lines hr {
    border: 2px solid black;
}

.container .navbar-menu .options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78.9%;
}

@media(min-width:760px) {
    #btn-close {
        display: none;
    }

    .container .navbar-menu .options ul {
        display: flex;
        flex-direction: row;
        padding-left: 5px;
        gap: 15px;
    }

    .container .navbar-menu .options ul>li {
        list-style: none;
        font-size: 1.1rem;
        background-color: rgb(66, 190, 221);
        color: black;
        padding: 2px;
    }
}

.container .navbar-menu .options ul>li:hover {
    cursor: pointer;
    color: rgb(0, 0, 179);
    
}

@media (max-width:760px) {
    #btn-close {
        position: absolute;
        top: 15px;
        left: 15px;
        border: none;
        cursor: pointer;
        width: 35px;

    }

    .container .navbar-menu .options button svg {
        font-size: 18px;
    }

    .container .navbar-menu .options {
        background-color: rgb(231, 242, 252) !important;
        display: flex;

    }

    .container .navbar-menu .options ul {
        list-style: none;
        margin-right: 20px;
    }

    .container .navbar-menu .options ul>li {
        width: 150px;
        list-style: none;
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
    }

    #right-menu {
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100%;
        background-color: #ccc;
        transition: all 0.3s ease-in-out;
    }

    #right-menu.open {
        right: 0;
    }

    .container .navbar-menu .toggle {
        display: block;
    }

    .container .navbar-menu .logo {
        width: 70%;
    }
}

@media (max-width:300px) {
    .container .search-container form {
        width: 100%;
    }

    .container .search-container form input[type="text"] {
        width: 65%;
    }

    .container .search-container form button {
        width: 35%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

}